alias ktx='kubectl config use-context'
alias vim='nvim'
alias ld='lazydocker'
alias lg='lazygit'
alias ls='exa -hb --icons --color-scale'
alias kdash='SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt kdash -e'
alias stern='kubectl stern'
alias kaf='kaf'
alias kgpt='k8sgpt'
alias cat='bat'