
curlj() {
  curl $@ | pp_json
}

kdecode() {
  namespace=$1
  secret=$2
  key=$3
  echo "$(kubectl get secret -n $namespace $secret -o jsonpath="{.data.$key}" | base64 -d)"
}

b64() {
  echo "$1" | base64
}

b64d() {
  echo "$1" | base64 -d
}

kgetall() {
  for i in $(kubectl api-resources --verbs=list --namespaced -o name | grep -v "events.events.k8s.io" | grep -v "events" | sort | uniq); do
    echo "Resource:" $i
    kubectl -n ${1} get --ignore-not-found ${i}
  done
}

dpv() {
  context=$1
  shift 1
  kubectl directpv --kubeconfig=$HOME/.kube/$context.yaml $@
}

miniologin() {
  namespace=${1:=minio-operator}
  serviceaccount=${2:=console-sa}
  secret=$(kubectl -n $namespace get serviceaccount $serviceaccount -o jsonpath="{.secrets[0].name}")
  token=$(kubectl -n $namespace get secret $secret -o jsonpath="{.data.token}")
  echo "$(echo "$token" | base64 --decode)" # tek echo olursa sonda % işareti çıkıyor
}

ksrcall () {
  namespace=${1:=default}
  for n in $(kubectl get -o=name pvc,configmap,serviceaccount,secret,ingress,service,deployment,statefulset,hpa,job,cronjob -n $namespace)
  do
    kubectl apply view-last-applied -n $namespace -o=yaml $n > $(dirname $n)-$(basename $n).yaml
  done
}